<mat-card>
  <form class="full-width">
    <mat-card-title class="text-center">Document Censor</mat-card-title>
    <div class="vert-spacer"></div>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Input Words and Phrases to Censor</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        placeholder="Input words and phrases"
        [(ngModel)]="redactTargets"
        [ngModelOptions]="{ standalone: true }"
        type="text"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Input Document Text to Censor</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        placeholder="Input Document to Censor"
        [(ngModel)]="documentText"
        [ngModelOptions]="{ standalone: true }"
        type="text"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button (click)="censorText()">Redact</button>
  </form>
  <div class="vert-spacer"></div>
  <ng-container *ngIf="censoredText">
    <mat-card-title class="text-center">Censored Text</mat-card-title>
    <mat-card-content>
      <mat-card>
        <div class="save-format">{{ censoredText }}</div>
      </mat-card>
    </mat-card-content>
  </ng-container>
</mat-card>

